.header-bar {
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 50px;
    background-color: #fff;

    .logo {
      display: flex;
      align-items: center;

      img {
        height: 80px;
        width: auto;
      }
    }

    .nav-labels {
      display: flex;
      gap: 1rem;
      font-size: 0.9rem;
      label {
        font-weight: 800;
        color: #0D5EA6;
        cursor: pointer;

        &:hover {
          color: #FE4F2D;
        }
      }
    }

    .header-right {
      display: flex;
      align-items: center;

      .booking-button {
        background: #0D5EA6;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        padding: 4px 14px;
        margin-left: 0.5rem;
        border-radius: 5px;

        &:hover {
          background: #084b8a;
        }
      }
    }
  }

  .mobile-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    padding-top: 0;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);

    .booking-button {
      background: #0D5EA6;
      color: #fff;
      font-size: 0.7rem;
      padding: 4px 12px;
      border-radius: 5px;
    }
  }

  @media (max-width: 768px) {
    .nav-labels {
      display: none;
    }

    .nav-links {
      display: none;
    }
  }

  // 📱 Mobile (extra small)
  @media (max-width: 480px) {
    .toolbar {
      padding: 0.8rem;

      .logo {
        font-size: 1.3rem;
      }

      .nav-labels {
        font-size: 12px;
      }

      .nav-links {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        .MuiButton-root {
          font-size: 11px;
        }

        .booking-button {
          padding: 5px 10px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
